@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 공통 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
html, body {
    color: #333;
    min-width: 1280px; 
}
h3 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'TmoneyRoundWindExtraBold';
}

/* header 헤더 */
header {
    height: 80px;
    line-height: 80px;
}
header div {
    width: 1280px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header div h1 a {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'TmoneyRoundWindExtraBold';
    background: #24e99e;
    background: -webkit-linear-gradient(left, #24e99e, #0fe3ea);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
header div p {
    font-size: 24px;
}
header div p:hover {
    text-decoration: underline;
}
header div p a {
    font-family: 'TmoneyRoundWindRegular';
}



/* main_visual 메인비주얼 */
.main_visual {
    width: 100%;
    height: 800px;
    background: url('../images/visual1-3.jpg') center center / cover no-repeat; 
    background-attachment: fixed; /* 불필요시 제거 */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_visual div {
    text-align: center;
}
.main_visual div h2 {
    font-size: 80px;
    font-family: 'TmoneyRoundWindExtraBold';
}
.main_visual div p {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'TmoneyRoundWindRegular';
}


/* best portfolio 베스트 포트폴리오 */
.best {
    margin: 150px 0;
}
.best h3 {
    font-size: 45px;
    text-align: right;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: 'TmoneyRoundWindExtraBold';
}
.best .bg {
    background-color: rgb(236, 250, 245);
    padding: 100px 0;
}
.best .bg .best_box {
    margin-bottom: 0;
}
.best .best_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.best .best_box .info {
    width: 40%;
}
.best .best_box .info .cate {
    font-size: 18px;
    font-weight: bold;
}
.best .best_box .info h4 {
    font-size: 30px;
    font-family: 'TmoneyRoundWindRegular';
}
.best .best_box .info .text {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5; /* 16(폰트사이즈) x 1.5(배수) => 24(행간) */
}
.best .best_box .info dl {
    display: flex;
    margin-bottom: 10px;
}
.best .best_box .info dl dt {
    width: 28%;
    font-weight: bold;
}
.best .best_box .info dl:first-of-type dd {
    width: 40px;
    margin-right: 10px;
}
.best .best_box .info dl dd img {
    width: 100%;
    height: 100%;
}
.best .best_box .info ul {
    display: flex;
    margin-top: 30px;
}
.best .best_box .info ul li {
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
}
.best .best_box .info ul li a {
    padding: 0 25px;
}


.best .best_box .info ul li:first-of-type:hover {
    box-shadow: 2px 3px 20px rgba(43, 250, 171, 0.4);
}

.best .best_box .youtube_list {
    width: 55%;
}
.best .best_box .youtube_list div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
}
.best .best_box .youtube_list div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.best .best_box .web_design {
    width: 55%;
    
}
.best .best_box .web_design figure {
    border-radius: 35px;
    overflow: hidden;
    height: 100%;
}
.best .best_box .web_design figure img {
    width: 100%;
    height: 100%;
}



/* 카테고리별 유튜브 적용 */
.youtube_wrap {
    margin: 150px 0;
}
.youtube_wrap .youtube_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.youtube_wrap .youtube_menu li {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    /* border: 1px solid #ccc; */
    margin: 0 5px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.youtube_wrap .youtube_menu li:hover {
    box-shadow: 2px 3px 20px rgba(43, 250, 171, 0.4);
}
.youtube_wrap .youtube_menu li.on {
    background: rgb(36,233,158);
    background: linear-gradient(90deg, rgba(36,233,158,1) 0%, rgba(14,227,236,1) 100%);
    box-shadow: 2px 3px 20px rgba(43, 250, 171, 0.4);
   
}
.youtube_wrap .youtube_menu li.on a {
    color: #fff;
}

/* ★-on - display:none */
.youtube_wrap .youtube_cont .menu_cont {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display:flex를 했을 경우 자식태그까지 계속 flex 설정되지 않도록 추가할 수 있는 선택자 */
    display: none;
}
/* ★-on - display:flex 클릭했을때 뜨도록*/
.youtube_wrap .youtube_cont .menu_cont.on {
    display: flex;
    /* display:block으로 만들경우 연결된게 풀려서 내려감 */
}
.youtube_wrap .menu_cont .box {
    width: 49%;
    /* border: 1px solid #ccc; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 35px;
}
.youtube_list {
    width: 100%;
}
.youtube_list div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.youtube_list div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.youtube_wrap .menu_cont .box .info {
    padding: 30px;
}
.info h4 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'TmoneyRoundWindRegular';
}
.info dl {
    display: flex;
    margin-bottom: 10px;
}
.info dl dt {
    width: 20%;
    font-weight: bold;
}
.info dl dd a {
    font-weight: bold;
}
.info dl dd:hover a{
    text-decoration: underline;
}



/* g_design 2D 디자인 */
.g_design {
    background-color: rgb(236, 250, 245);
    padding: 150px 0;
}
.g_design em {
    width: 1280px;
    margin: 0 auto;
    display: block;
    text-align: right;
    margin-bottom: 10px;
}
.g_design .img_list {
    width: 1280px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap; /* 영역을 벗어난 자식태그들을 아래로 떨어트림 */
    justify-content: space-between;
}
.g_design .img_list div {
    width: 24%;
    transition: 0.3s;
    border-radius: 35px;
    overflow: hidden;
}
.g_design .img_list div:hover ul {
    background: rgb(36,233,158);
    background: linear-gradient(90deg, rgba(36,233,158,1) 0%, rgba(14,227,236,1) 100%);
    transition: 0.2s;
}
.g_design .img_list div:hover a{
    color: #fff;
}
.g_design .img_list div figure {
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.g_design .img_list div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
}
.g_design .img_list div ul {
    background-color: #fff;
    padding: 20px;
}
.g_design .img_list div ul li:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}
.g_design .img_list div:hover {
    box-shadow: 2px 3px 20px rgba(43, 250, 171, 0.4);  
    transform: translateY(-20px);
}
.g_design .img_list div:hover figure img {
    transform: scale(1.2); 
}



/* footer 푸터 */
footer {
    background-color: #333;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

footer ul li {
    width: 220px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    margin: 10px auto;
    border-radius: 20px;
}
footer ul li a {
    color: #fff;
}
footer ul li:first-of-type {
    background: rgb(36,233,158);
    background: linear-gradient(90deg, rgba(36,233,158,1) 0%, rgba(14,227,236,1) 100%);
    border: none;
}
footer ul li:first-of-type a {
    color: #fff;
    font-weight: bold;
}
footer p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 35px;
}






/* 웹&앱 디자인 .web_design */
.web_wrap { 
    /* background-color: #ccc; */
    /* color: #fff; */
    margin: 150px 0;
}
.web_wrap .web_box {
    width: 1280px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.web_wrap .web_box .web {
    width: 32%;
    margin-bottom: 50px;
}
.web_wrap .web_box .web figure { 
    height: 350px;

}
.web_wrap .web figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.web_wrap .web_box .info {  
    padding-top: 20px;
} 



/* .info 공통스타일 */
.info .text {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.info ul {
    display: flex;
    margin-top: 30px;
    font-weight: bold;
}
.info ul li:first-of-type {
    /* background-color: #333; */
    background: rgb(36,233,158);
    background: linear-gradient(90deg, rgba(36,233,158,1) 0%, rgba(14,227,236,1) 100%);
    transition: 0.3s;
}
.info ul li:first-of-type:hover {
    box-shadow: 2px 3px 20px rgba(43, 250, 171, 0.4);
}
.info ul li:last-of-type:hover {
    box-shadow: 2px 3px 20px rgba(43, 250, 171, 0.4);
}

.info ul li {
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}
.info ul li a {
    padding: 0 20px;
}
.info ul li:first-of-type a {
    color: #fff;
}



/* 개인정보 .about */
.about {
    margin: 150px 0;
}
.about .about_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.about .about_box figure {
    width: 30%;
    height: 500px;
}
.about .about_box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about_box .about_info {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.about .about_box .about_info > div {
    width: 45%;
    margin: 20px 0;
    line-height: 1.5;
}
.about h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.about p {
    /* margin-bottom: 5px; */
    font-size: 20px;
}
.about dl {
    font-size: 20px;
}
.about dl dt {
    margin-bottom: 5px;
    font-weight: bold;
}
